<h1>Books Store</h1>
<div class="table-responsive">
    <div class="table">
        {{#books}}
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive img-thumbnail col-md-3 offset-1" src="{{coverUrl}}">
                    <!--<div id="view-more">
                        <a class="btn btn-success btn-md" href="#collapse{{_id}}" data-toggle="collapse">Hide</a>
                    </div>-->
                </div>
                
                <div  class="width col-md-6"> 
                    <a href="#/books/{{_id}}"><h3> {{{title}}}</h3></a>
                    <h4>Author: <a href="#/books-result?author={{author}}">{{{author}}}</a></h4>
                    <h4>Rating: 
                        {{#if rating}}
                        {{#each rating}}
                            <span class="star glyphicon glyphicon-star"></span>
                        {{/each}}
                        {{else}}
                            No rating
                        {{/if}}
                    </h4>
                    <h4>Pages: {{pages}}</h4>
                    <!--<h3>Genres:</h3>
                    {{#genres}}
                    <a href="#/books-result?genre={{this}}" class="btn btn-default">{{this}}</a>
                    {{/genres}}-->
                </div>
            </div>
        </div>
        {{/books}}
    </div>  
</div>
<div data-curr-page="{{page}}" class="pager">
    <div class="previous">
        <a href="#/books?page={{prevPage}}&size=10" class="btn btn-info {{#if isFirstPage}}disabled{{/if}}">Prev</a>
    </div>
    <div class="next">
        <a href="#/books?page={{nextPage}}&size=10" class="btn btn-info {{#if isLastPage}}disabled{{/if}}">Next</a>
    </div>
</div>