<div class="my-books-all">
<p><h1>{{myBooksPage}}</h1></p><br>
<div class="table-responsive">
    <table class="table">
        {{#books}}
        <tr class="row">
            <td class="col-md-3">
                <img class="img-responsive" src="{{coverUrl}}">
            </td>
            <td> 
                <h2>Title: <a href="#/books/{{_id}}"> {{{title}}}</a></h2>
                <h3>Author: <a href="#/books-result?author={{author}}">{{{author}}}</a></h3>
               <h3>Rating: 
                        {{#if rating}}
                            {{#each rating}}
                            <span class="star glyphicon glyphicon-star"></span>
                            {{/each}}
                        {{else}}
                            No rating
                        {{/if}}
                    </h3>
                <h3>Pages: {{pages}}</h3>
                <h3>Genres:</h3>
                {{#genres}}
                    <a href="#/books-result?genre={{this}}">{{this}}</a>
                {{/genres}}
            </td>
        </tr>
        {{/books}}
    </table>  
</div>
</div>