<!--<section id="sidebar" class="col-md-4">-->
    <div class="username-books">
        <h3>{{currentUserInfo.nickname}}</h3>
        <div class="table-responsive col-md-3 my-books-preview">
            <div class="table">
                <div class="row">
                    {{#if bookToRead}}
                    <div class="preview">
                        <strong><h4>Want to read</h4></strong>
                        <img src="{{bookToRead.coverUrl}}" class"img-responsive">
                        <a href="#/books/{{bookToRead._id}}">{{{bookToRead.title}}}</a>
                    </div>
                    <a href="#/mybooks/to-read" class="btn btn-danger">View more</a>
                    {{/if}}
                </div>     
                <div class="row">
                    {{#if bookCurrentlyReading}}
                    <div class="preview">
                        <strong><h4>Currently reading</h4> </strong>                       
                        <img src="{{bookCurrentlyReading.coverUrl}}" class"img-responsive">
                        <a href="#/books/{{bookCurrentlyReading._id}}">{{{bookCurrentlyReading.title}}}</a>
                    </div>
                    <a href="#/mybooks/currently-reading" class="btn btn-danger">View more</a>
                    {{/if}}
                </div>     
                <div class="row">
                    {{#if bookRead}}
                    <div class="preview">
                        <strong><h4>Already read</h4></strong>                                           
                        <img src="{{bookRead.coverUrl}}" class"img-responsive">
                        <a href="#/books/{{bookRead._id}}">{{{bookRead.title}}}</a>
                    </div>
                    <a href="#/mybooks/already-read" class="btn btn-danger">View more</a>
                    {{/if}}
                </div>     
            </div>  
        </div>
    </div>
<!--</section>-->

<div class="table-responsive col-md-6">
    <div class="table">
        <div class="row">
            <div id="newsfeed">
            </div>
        </div>        
    </div>  
</div>