<div id="book-wrapper">
    <h1 data-id={{_id}}>{{{title}}}</h1>
    <table class="table">
        <tr>
            <td col-md-6>
                <img class="img-responsive" src="{{coverUrl}}">
            </td>
            <td col-md-6>
                <p>Summary: {{description}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Author: <strong>{{author}}</strong></h4>
                <h4>Rating: <p id="rating"><strong>{{rating}}</strong></p></h4>
                <p>Pages: <strong>{{pages}}</strong></p>
                
                <form class="form-inline">
                <div class="form-group">
                    <label for="tb-rating">Rate it</label>
                    <input type="number" placeholder="1 - 5" id="tb-rating" class="form-control">
                    <button data-id="{{_id}}" id="btn-add-rating" class="form-control btn btn-primary">Send rate</button>
                </div>
                </form>
            </td>
            <td>
                Genres:
                {{#genres}}
                <a class="btn btn-default" href="#/books-result?genre={{this}}">{{this}}</a>
                {{/genres}}
            </td>
        </tr>
        <tr>
            <td class="col-md-3">
                <div class="status-wrapper">
                    <h2>Status:</h2>{{#if status}} <button class="btn btn-unactive">{{status}}</button></div> {{else}}<h3>No Status yet</h3> {{/if}}
                </div>
            </td>
            <td class="col-md-9">
                <div class="review-wrapper"> 
                    <h2>Reviews:</h2>
                    {{#if reviews}}
                    {{#reviews}}
                    <div>
                    <strong><a href="">{{this.nickName}}:</a></strong>        
                    <h3>{{this.review}}</h3>
                    <br>
                    <br>
                    </div>
                    {{/reviews}}
                    {{else}}
                    <h3>Yours will be the first.</h3>
                    {{/if}}
                    <div class="form-group">
                    <textarea type="text" class="form-control"  placeholder="Write something about it..."></textarea>
                    <button class="form-control">Send</button>
                    </div>
                    </div>
            </td>
        </tr>
    </table>
    
</div>