<div id="book-wrapper">
    <h1 data-id={{_id}}>{{title}}</h1>
    <table class="table">
        <tr>
            <td col-md-6>
                <img class="img-responsive" src="{{coverUrl}}">
            </td>
            <td col-md-6>
                <p>Summary: {{description}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Author: <strong>{{author}}</strong></h4>
                <h4>Rating: <p id="rating"><strong>{{rating}}</strong></p></h4>
                <p>Pages: <strong>{{pages}}</strong></p>
                
                <form class="form-inline">
                <div class="form-group">
                    <label for="tb-rating">Rate it</label>
                    <input type="number" placeholder="1 - 5" id="tb-rating" class="form-control">
                    <button data-id="{{_id}}" id="btn-add-rating" class="form-control btn btn-primary">Send rate</button>
                </div>
                </form>
            </td>
            <td>
                Genres:
                {{#genres}}
                <a class="btn btn-default" href="#/books-result?genre={{this}}">{{this}}</a>
                {{/genres}}
            </td>
        </tr>
    </table>
    <div class="review-wrapper "> 
    <h3>Reviews:</h3>
    {{#reviews}}
    <div>
    <p><strong>{{this.review}}</strong></p>
    <a href="">{{this.nickName}}</a>
    </div>
    {{/reviews}}
    </div>
</div>