<h1>Books Store</h1>
<div class="table-responsive">
    <table class="table">
        {{#books}}
        <tr class="row">
            <td class="col-md-3">
                <img class="img-responsive" src="{{coverUrl}}">
            </td>
            <td> 
                <h2>Title: <a href="#/books/{{_id}}"> {{{title}}}</a></h2>
                <h3>Author: <a href="#/books-result?author={{author}}">{{{author}}}</a></h3>
                <h3>Rating: 
                    {{#if rating}}
                    {{#each rating}}
                        <span class="star glyphicon glyphicon-star"></span>
                    {{/each}}
                    {{else}}
                        No rating
                    {{/if}}
                </h3>
                <h3>Pages: {{pages}}</h3>
                <h3>Genres:</h3>
                {{#genres}}
                <a class="btn btn-default" href="#/books-result?genre={{this}}">{{this}}</a>
                {{/genres}}
            </td>
        </tr>
        {{/books}}
    </table>  
</div>
<div data-curr-page="{{page}}" class="pagination">
<a href="#/books?page={{prevPage}}&size=10" class="btn btn-info {{#if isFirstPage}}disabled{{/if}}">Prev</a>
<a href="#/books?page={{nextPage}}&size=10" class="btn btn-info {{#if isLastPage}}disabled{{/if}}">Next</a>
</div>