<h1>{{myBooksPage}}</h1>
<div class="table-responsive">
    <div class="table">
        {{#books}}
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="{{coverUrl}}">
            </div>
            <div> 
            <div class="col-md-6">
                <h3>Title: <a href="#/books/{{_id}}"> {{{title}}}</a></h2>
                <p>Author: <a href="#/books-result?author={{author}}">{{{author}}}</a></p>
               
                <p>Pages: {{pages}}</p>
                
                <p>Status: {{status}}</p>
                <div>
                    <button data-status="want-to-read" class="btn btn-success btn-change-status {{#if isToRead}}hidden{{/if}}">Want to Read</button>
                    <button data-status="currently-reading" class="btn btn-success btn-change-status {{#if isReading}}hidden{{/if}}">Currently reading</button>
                    <button data-status="read" class="btn btn-success btn-change-status {{#if isRead}}hidden{{/if}}">Already read</button>
                </div>
            </div>
            <div class="col-md-3">
                <p>Genres:</p>
                {{#genres}}
                <a class="" href="#/books-result?genre={{this}}">{{this}}  </a>
                {{/genres}}
            </div>
            </div>
        </div>
        {{/books}}
    </div>  
</div>