<h1>Search results</h1>
{{#if filteredBooks}}
<h3>Search result for: {{pattern}}</h3>
<div class="table-responsive">
    <table class="table">
        {{#filteredBooks}}
        <tr class="row">
            <td class="col-md-3">
                <img class="img-responsive" src="{{coverUrl}}">
            </td>
            <td> 
                <h2>Title: <a href=""> {{{title}}}</a></h2>
                <h3>Author: <a href="">{{{author}}}</a></h3>
                <h3>Rating: 
                    {{#if rating}}
                    {{#each rating}}
                        <span class="star glyphicon glyphicon-star"></span>
                    {{/each}}
                    {{else}}
                        No rating
                    {{/if}}
                </h3>
                <h3>Pages: {{pages}}</h3>
                <h3>Genres:</h3>
                {{#genres}}
                <a class="btn btn-default" href="#/books-result?genre={{this}}">{{this}}</a>
                {{/genres}}
            </td>
        </tr>
        {{/filteredBooks}}
    </table>  
</div>
{{else}}
<h3>No result for: {{pattern}}</h3>
{{/if}}