<div id="book-wrapper">
    <h1 id="book-title" data-id={{_id}}>{{{title}}}</h1>
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="{{coverUrl}}">
            </div>
            <div class="col-md-9">
                <p>Summary: {{description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>Author: <a href="#/books-result?author={{author}}"> {{author}}</a></h4>
                <h4>Pages: 
                    {{#if pages}}
                        <strong>{{pages}}</strong>                    
                    {{else}}
                        n/a
                    {{/if}}
                </h4>
                <div class="rating-wrapper">                
                    <h4>Rating: 
                        {{#if rating}}
                            {{#each rating}}
                            <span class="star glyphicon glyphicon-star"></span>
                            {{/each}}
                        {{else}}
                            No rating
                        {{/if}}
                    </h4>
                </div>
                    <div class="rating-adder hidden-when-not-logged-in">
                        <h4>Rate it: 
                                <button data-id="1" class="btn-star btn-add-rating">
                                    <span class="star glyphicon glyphicon-star"></span>
                                </button>
                                <button  data-id="2" class="btn-star btn-add-rating">
                                    <span class="star glyphicon glyphicon-star"></span>
                                </button>
                                <button  data-id="3" class="btn-star btn-add-rating">
                                    <span class="star glyphicon glyphicon-star"></span>
                                </button>
                                <button  data-id="4" class="btn-star btn-add-rating">
                                    <span class="star glyphicon glyphicon-star"></span>
                                </button>
                                <button  data-id="5" class="btn-star btn-add-rating">
                                    <span class="star glyphicon glyphicon-star"></span>
                                </button>                     
                            </button>
                        </h4>
                    </div>
                    <div class="status-changer hidden-when-not-logged-in">
                        <h4>Change status: <br>
                            <button data-status="want-to-read" class="btn btn-danger btn-change-status {{#if isToRead}}hidden{{/if}}">Want to Read</button>
                            <button data-status="currently-reading" class="btn btn-info btn-change-status {{#if isReading}}hidden{{/if}}">Currently reading</button>
                            <button data-status="read" class="btn btn-warning btn-change-status {{#if isRead}}hidden{{/if}}">Already read</button>
                        </h4>
                    </div>
                
            </div>
            <div col-md-9>
                Genres:
                {{#genres}}
                <a class="btn btn-default" href="#/books-result?genre={{this}}">{{this}}</a>
                {{/genres}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="status-wrapper hidden-when-not-logged-in">
                    <h2>Status:</h2>
                    <h3>
                        {{#if isToRead}}
                            Want to read
                        {{/if}}
                        {{#if isRead}}
                            Already read
                        {{/if}}
                        {{#if isReading}}
                            Currently reading
                        {{/if}}
                    </h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="review-wrapper"> 
                    <h2>Reviews:</h2>
                    {{#if reviews}}
                    {{#reviews}}
                    <div class="single-review-wrapper">
                        <sdivong><a href="">{{this.nickName}}:</a></sdivong>        
                        <p>{{this.review}}</p>
                    </div>
                    {{/reviews}}
                    {{else}}
                    <h3>Yours will be the first.</h3>
                    {{/if}}
                    
                </div>
            </div>
            <div class="col-md-5">
                <div class="review-adder hidden-when-not-logged-in">
                    <div class="form-group">
                        <textarea id="tb-review" type="text" class="form-control" rows="10" placeholder="Write something about it..."></textarea>
                        <br>
                        <div class="review-rating-adder">
                        <h4>Rate it: 
                                <button data-id="1" class="btn-star btn-add-rating">
                                    <span class="star glyphicon glyphicon-star"></span>
                                </button>
                                <button  data-id="2" class="btn-star btn-add-rating">
                                    <span class="star glyphicon glyphicon-star"></span>
                                </button>
                                <button  data-id="3" class="btn-star btn-add-rating">
                                    <span class="star glyphicon glyphicon-star"></span>
                                </button>
                                <button  data-id="4" class="btn-star btn-add-rating">
                                    <span class="star glyphicon glyphicon-star"></span>
                                </button>
                                <button  data-id="5" class="btn-star btn-add-rating">
                                    <span class="star glyphicon glyphicon-star"></span>
                                </button>                     
                            </button>
                        </h4>
                    </div>
                        <br>
                        <button id="btn-review-send" class="review-send btn btn-primary form-control">Send</button>
                    </div>
                </div>
                
            </div>
        </div>
    
</div>